{% extends 'base.html.twig' %}

{% block title %}New ActivationPostPayeGRCS{% endblock %}
{% block lesboutons %}
	<a type="button" title="Ajouter nouveau "  href="{{path('app_grand_fournisseur_index')}}"class="btn btn-sm btn-info">
		<i class="fas fa-reply-all"></i>
		Liste 
	</a>
{% endblock %}
{% block ariane %}
	GRCS
	<span class="fa fa-angle-double-right"></span>
	Mode PostPayé
{% endblock %}
{% block body %}

<h3 class="text-uppercase">Compte :
		{{activation_post_paye_g_r_c.compteGRCS|upper }}
	</h3>
	<div class="row">
		<div class="col-sm-6 col-6">
			<address>
				Entreprise :
				<strong>{{activation_post_paye_g_r_c.compteGRCS.grcs.entreprise|upper }}
				</strong>
				<br>
				Solde :
				<span class="badge badge-info">{{activation_post_paye_g_r_c.compteGRCS.quantiteDiesel}} L Diesel </span> - <span class="badge badge-success">{{activation_post_paye_g_r_c.compteGRCS.quantiteEssence}} L Essence </span> 
				<br>
				Téléphone
				<a href="tel:{{activation_post_paye_g_r_c.compteGRCS.grcs.adresse.telephone}}">
					<span class="fa fa-phone"></span>
				</a>
				: (+243)
				{{activation_post_paye_g_r_c.compteGRCS.grcs.adresse.telephone}}<br>
				Email
				<a href="mailto:{{activation_post_paye_g_r_c.compteGRCS.grcs.adresse.email}}">
					<span class="fa fa-envelope"></span>
				</a>
				:
				{{activation_post_paye_g_r_c.compteGRCS.grcs.adresse.email}}
				<br>
			</address>
		</div>
		<div class="col-sm-6 col-6">
			<address class="float-right">
            <i>
			Date activation :
			{{activation_post_paye_g_r_c.dateDebut|date('d/M/Y')}}
		</i>
            </address>
		</div>
	</div>
	
    {{ include('activation_post_paye_grcs/_form.html.twig') }}

    {# <a href="{{ path('app_activation_post_paye_g_r_c_s_index') }}">back to list</a> #}
{% endblock %}
