{% extends 'base.html.twig' %}

{% block title %}PetitClient
{% endblock %}
{% block ariane %}
	{{parent() }}
	Petit client
{% endblock %}
{% block lesboutons %}
	<a href="{{ path('app_petit_client_index') }}" title="Retour à la liste " class="btn btn-info btn-sm">
		<i class="fa fa-reply-all"></i>
		Rétour
	</a>
	<a type="button" title="Ajouter nouveau " class="btn btn-sm btn-info">
		<i class="fas fa-plus-circle"></i>
		Nouveau
	</a>
	<a href="{{ path('app_petit_client_edit', {'id': petit_client.id}) }}" title="Modifier élément  " class="btn btn-sm btn-info">
		<i class="fas fa-edit"></i>
		Modifier
	</a>
	<a title="Supprimer élément" class="btn btn-sm btn-info">
		<i class="fas fa-trash"></i>
		Supprimer
	</a>
{% endblock %}
{% block body %}
	<table class="table">
		<tbody>
			<tr>
				<th>Nom
				</th>
				<td>{{ petit_client }}</td>
			</tr>
			<tr>
				<th>Adresse
				</th>
				<td>{{ petit_client.adresse }}</td>
			</tr>
			<tr>
				<th>Téléphone
				</th>
				<td>{{ petit_client.adresse.telephone }}</td>
			</tr>
			<tr>
				<th>Representant
				</th>
				<td>{{ petit_client.identite }}</td>
			</tr>
			<tr>
				<th>Comptes </th>
				<td>
				<ul>
				{% for compte in petit_client.comptePetitClients %}
				<li>{{ compte }} </li>
				{% endfor %}
				</ul>
				</td>
			</tr>
			<tr>
				<th>Actions approvisionnement
				</th>
				<td>

						{% if petit_client.comptePetitClients  %}
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-flat">Appro. un compte</button>
								<button type="button" class="btn btn-default btn-flat dropdown-toggle dropdown-icon" data-toggle="dropdown">
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<div class="dropdown-menu" role="menu">
									{% for compte in petit_client.comptePetitClients %}
										<a class="dropdown-item" href="{{path('app_approvisionnement_petit_client_new',{'id': compte.id })}}">{{compte}}</a>
									{% endfor %}
								</div>
							</div>
						{% else %}
							<span class"bg-danger">
								Pas de compte
							</span>
						{% endif  %}
				</td>
			</tr>
		</tbody>
	</table>

	{% if is_granted('ROLE_ADMIN') %}
		{{ include('petit_client/_delete_form.html.twig') }}
	{% endif %}

{% endblock %}
