{% extends 'base.html.twig' %}

{% block title %}Modifier  ApprovisionnementGRCS{% endblock %}
{% block lesboutons %}
	<a type="button" title="Ajouter nouveau "  href="{{path('app_grand_fournisseur_index')}}"class="btn btn-sm btn-info">
		<i class="fas fa-plus-circle"></i>
		Nouveau
	</a>
{% endblock %}
{% block ariane %}
{{parent() }}Appro.
{% endblock %}
{% block body %}
    {{ include('approvisionnement_grcs/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {# <a href="{{ path('app_approvisionnement_g_r_c_s_index') }}">retour à la liste</a> #}

    {# {{ include('approvisionnement_grcs/_delete_form.html.twig') }} #}
{% endblock %}
