{% extends 'base.html.twig' %}

{% block title %}Compte Petit Client
{% endblock %}
{% block ariane %}
	{{parent() }}
	Compte client
{% endblock %}
{% block lesboutons %}
	{% if not is_granted('ROLE_ADMIN_PT_CL') %}
	<a type="button" title="Liste  " href="{{path('app_compte_petit_client_index')}}" class="btn btn-sm btn-info">
		<i class="fas fa-plus-circle"></i>
		Liste
	</a>
    {% endif %}
	{% if is_granted('ROLE_ADMIN_GRCS') %}
        {# <a title="Modifier nouveau " href="{{path('app_compte_petit_client_edit', {id: compte_petit_client.id })}}" class="btn btn-sm btn-info">
			<i class="fas fa-edit"></i>
			Modifier 
		</a> #}
		{# <a title="Modifier nouveau " href="{{path('app_compte_petit_client_delete', {id: compte_petit_client.id })}}" class="btn btn-sm btn-info">
			<i class="fas fa-trash"></i>
			Supprimer 
		</a> #}
		<form class="m-0 p-0" method="post" action="{{ path('app_compte_petit_client_delete', {'id': compte_petit_client.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer définitivement cet élément?');">
    <input lass="m0 p0" type="hidden" name="_token" value="{{ csrf_token('delete' ~ compte_petit_client.id) }}">
    <button class="btn btn-default "> <span class="fa fa-times-circle " > Supprimer  </button>
    
</form>
	{% endif %}
{% endblock %}
{% block body %}
	<table class="table">
		<tbody>
			<tr>
				<th>Quantite Diesel</th>
				<td>{{ compte_petit_client.quantiteDiesel }}</td>
			</tr>
			<tr>
				<th>Quantite Essence</th>
				<td>{{ compte_petit_client.quantiteEssence }}</td>
			</tr>
			<tr>
				<th>Date Dernier Approvisionnement</th>
				<td>{{ compte_petit_client.dateDernierApprovisionnement ? compte_petit_client.dateDernierApprovisionnement|format_datetime('long') : '' }}</td>
			</tr>
		</tbody>
	</table>

	{# <a href="{{ path('app_compte_petit_client_index') }}">retour à la liste</a>

	<a href="{{ path('app_compte_petit_client_edit', {'id': compte_petit_client.id}) }}"><span class="fa fa-edit"/></a> #}

	{# {{ include('compte_petit_client/_delete_form.html.twig') }} #}
{% endblock %}
